

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon 
    <div class="fadeIn first">
      <img src="" id="icon" alt="User Icon" />
    </div> -->

        <form action="/signup" method="POST" class="mt-5">
            <input type="text" id="name" class="fadeIn second" name="name" placeholder="Enter Name">
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="Enter Email id">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="Enter Password">
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>

        
        <div id="formFooter">
            <a class="underlineHover" href="/login">Already have an account?</a>
        </div>

    </div>
</div>